.user-info-row-section {
  display: flex;
  justify-content: space-between;
  height: 60px;
  align-items: center;
  border-bottom: 1px solid gray;
  margin-bottom: 20px;
}
.check-box {
  height: 20px;
  width: 20px;
  margin-left: 10px;
}
.row-item {
  font-size: 20px;
  font-weight: 100;
  color: black;
}
.edit-icon {
  padding-left: 10px;
  background-color: transparent;
  border-width: 0px;
  cursor: pointer;
}
.button-icon {
  background-color: transparent;
  border-width: 0px;
  cursor: pointer;
}
.rowSelected {
  background-color: lightgrey;
}
